---
---

@import "{{ site.theme }}";

header {
	display: none;
}
.wrapper {
	max-width: 850px;
}
section {
	max-width: 850px;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 22px;
}
h1,h2,h3 {
	line-height: 1.5em;
}
h4,h5 {
	line-height: 1.3em;
}
h6 {
	line-height: 1.1em;
}
code{
    padding: 0px;
    border-radius: 0px;
}
.smallModron img {
	width: 30px;
}
.championLinkRow {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: nowrap;
}
.championLinkColumn {
	display: flex;
	width: 91px;
	flex-direction: column;
	align-item: flex-start;
	flex-wrap: nowrap;
}
.championLink {
	background-color: #141414;
	background-size: contain;
	background-repeat: no-repeat;
	display: flex;
	width: 87px;
	height: 104px;
	margin: 1px;
	border: 1px solid black;
	align-items: flex-end;
	justify-content: center;
}
.championLink:hover {
	border: 1px solid #FFEB9B;
	background-color: #000000;
}
.modronColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
	width: 830px;
	margin: 2px;
	position: relative;
}
.modronRow,.modronRowShort,.modronRowHeader,.modronRowShortHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
	height: 49px;
	margin: 2px;
	background-color: #141414;
	border: 1px solid black;
}
.modronRowShort,.modronRowShortHeader {
	height: 25px;
}
.modronRowHeader,.modronRowShortHeader {
	border-bottom: 4px ridge black;
	border-radius: 10px 10px 0 0;
	height: 30px;
}
.modronRow:hover,.modronRowShort:hover {
	border: 1px solid #FFEB9B;
	background-color: #000000;
}
.modronIcon,.modronIconFull,.modronDamage,.modronDamageBuffed {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 150px;
	height: 100%;
	margin: 0px;
	color: #F0E7D5;
}
.modronIconFull,.modronNote {
	width: 250px;
}
.modronIcon img {
	margin: 5px;
}
.modronIconFull img {
	margin: 5px;
}
.modronLink,.modronLinkSmall,.modronLinkHeader {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 420px;
	height: 100%;
	background-color: #1c1c1c;
	border-left: 1px solid black;
}
.modronLink,.modronLinkSmall {
	font-family: monospace, monospace;
	font-size: 0.95em;
}
.modronLink,.modronLinkHeader {
	border-right: 1px solid black;
}
.modronDamage,.modronDamageBuffed {
	justify-content: center;
	width: 100px;
}
.modronDamageBuffed {
	color: #70E065;
}
.modronLevel {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 100%;
	margin: 0px;
	margin-right: 5px;
	color: #F0E7D5;
}
.modronAuthors {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 140px;
	height: 100%;
	margin: 0px;
	margin-left: 5px;
	color: #F0E7D5;
}
.modronRecordHolders {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 180px;
	height: 100%;
	margin: 0px;
	margin-left: 5px;
	color: #F0E7D5;
}
.modronRecord {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 100%;
	margin: 0px;
	color: #F0E7D5;
}
.modronNote {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 200px;
	height: 100%;
	margin: 0px;
	margin-left: 5px;
	color: #F0E7D5;
}
.tabs {
	display: flex;
	flex-wrap: wrap;
	max-width: 850px;
	min-width: 575px;
	font-size: 0.97em;
	margin-right: 40px;
}
.tabsRadio {
	display: none;
}
.tabsLabel {
	padding: 8px 10px;
	cursor: pointer;
	border: 1px solid black;
	border-bottom: 3px ridge black;
	border-radius: 10px 10px 0 0;
	background-color: #141414;
	margin-right: -1px;
}
.tabsContent {
	order: 1;
	width: 100%;
	display: none;
	border: 1px solid black;
	background-color: #1a1a1a;
	padding: 12px 15px 0 20px;
	border-radius: 0 10px 10px 10px;
}
.tabsRadio:checked+.tabsLabel {
	color: #efefef;
	background-color: #1a1a1a;
	border-bottom: 3px ridge #bbbbaa;
}
.tabsRadio:checked+.tabsLabel+.tabsContent {
	display: initial;
}
.tabs code {
	font-size: 1.1em;
}
.champIntro {
	display: block;
	width: 65%;
}
.buffboxCol {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	background-color: #1a1a1a;
	position: absolute;
	top: -10px;
	right: 0px;
	width: 260px;
	transform: translate(0, -100%);
	font-size: 0.9em;
	display: none;
}
.buffboxRow,.buffboxRowHeader,.buffboxRowCheck,.buffboxRowRadio,.buffboxRowContent {
	display: flex;
	flex-direction: row;
	padding-top: 1px;
}
.buffboxRowCheck {
	padding-left: 0px;
}
.buffboxRow {
	display: none;
	padding-top: 5px;
	border-bottom: 1px solid #444444;
}
.buffboxRowHeader {
	border-bottom: 4px ridge black;
	font-size: 1.05em;
	justify-content: center;
	padding: 5px;
}
.buffboxRowCol {
	display: flex;
	flex-direction: column;
	padding: 5px;
}
.buffboxRowContent {
	margin-left: 50px;
}
input[type="checkbox"] {
	-webkit-appearance: none;
	appearance: none;
	background-color: #101010;
	margin: 4px 8px 0px 4px;
	font: inherit;
	color: currentColor;
	width: 1.6em;
	height: 1.6em;
	border: 0.1em solid currentColor;
	border-radius: 0.3em;
	transform: translateY(-0.43em);
	display: grid;
	place-content: center;
}
input[type="checkbox"]::before {
	content: "";
	width: 1.6em;
	height: 1.6em;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em currentColor;
	transform-origin: center;
	/* Windows High Contrast Mode */
	background-color: CanvasText;
	
	clip-path: polygon(20% 54%, 31% 43%, 41% 54%, 73% 22%, 84% 33%, 41% 75%, 20% 54%);
}
input[type="checkbox"]:checked::before {
	transform: scale(1);
}
.buffboxRowRadio input[type="checkbox"] {
	border-radius: 1em;
}
.buffboxRowRadio input[type="checkbox"]::before {
	box-shadow: inset 2em 2em currentColor;
	clip-path: circle(33% at 52% 50%);
}