---
---

@import "{{ site.theme }}";

header {
	display: none;
}
.wrapper {
	max-width: 850px;
}
section {
	max-width: 850px;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 22px;
}
h1,h2,h3 {
	line-height: 1.5em;
}
h4,h5 {
	line-height: 1.3em;
}
h6 {
	line-height: 1.1em;
}
code{
    padding: 0px;
    border-radius: 0px;
}
.smallModron img {
	width: 30px;
}
.championLinkRow {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: nowrap;
}
.championLinkColumn {
	display: flex;
	width: 91px;
	flex-direction: column;
	align-item: flex-start;
	flex-wrap: nowrap;
}
.championLink {
	background-color: #141414;
	background-size: contain;
	background-repeat: no-repeat;
	display: flex;
	width: 87px;
	height: 104px;
	margin: 1px;
	border: 1px solid black;
	align-items: flex-end;
	justify-content: center;
}
.championLink:hover {
	border: 1px solid #FFEB9B;
	background-color: #000000;
}
.modronColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
	width: 830px;
	margin: 2px;
}
.modronRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
	height: 49px;
	margin: 2px;
	background-color: #141414;
	border: 1px solid black;
}
.modronRow:hover {
	border: 1px solid #FFEB9B;
	background-color: #000000;
}
.modronIcon,.modronIconFull {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 150px;
	height: 49px;
	margin: 0px;
	border-right: 1px solid black;
	color: #F0E7D5;
}
.modronIconFull {
	width: 250px;
}
.modronIcon img {
	margin: 5px;
}
.modronIconFull img {
	margin: 5px;
}
.modronLink {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 420px;
	height: 49px;
	background-color: #1c1c1c;
	font-family: monospace, monospace;
	font-size: 0.95em;
}
.modronDamage {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 49px;
	background-color: #141414;
	color: #F0E7D5;
	border-left: 1px solid black;
}